.App {
  text-align: center;
}

body {
    color: #555;
}

.container {
    padding: 35px;
    display: grid;
    grid-gap: 30px;
}

.form-container {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.movie-cards-container {
    text-align: left;
    display: grid;
    grid-gap: 10px;
}
.movie-card {
    height: 220px;
    overflow: hidden;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 5%), 1px 1px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 16px;
}
.movie-plot {
    overflow: auto;
    height: 150px;
}
